<div style="display: flex; justify-content: center">
<!--   <div style="max-width: 15%">
    <h3 style="font-family: 'Roboto', sans-serif;">
      A 12-hr picker, with a 5-min interval.
    </h3>
    <timeless-time-picker
      [hourFormat]="'hours12'"
      [visibleItemsCount]="5"
      [size]="'large'"
      [selectionHighlightStyle]="'spanning'"
      [selectionBoxBackground]="false"
      [showDivider]="false"
      [showSeconds]="false"
      [minuteStep]="5">
    </timeless-time-picker>
  </div> -->

  <div style="max-width: 15%; padding-left: 10em">
    <h3 style="font-family: 'Roboto', sans-serif;">
      This picker uses a 24-hr format and a different selection box and adds a divider.
    </h3>
    <timeless-time-picker
      [hourFormat]="'hours24'"
      [visibleItemsCount]="5"
      [size]="'large'"
      [selectionHighlightStyle]="'separate'"
      [selectionBoxBackground]="false"
      [showDivider]="true"
      [showSeconds]="false"
      [minuteStep]="1">
    </timeless-time-picker>
  </div>

<!--   <div style="max-width: 15%; padding-left: 10em">
    <h3 style="font-family: 'Roboto', sans-serif;">
      This picker also shows a seconds column.
    </h3>
    <timeless-time-picker
      [hourFormat]="'hours12'"
      [visibleItemsCount]="5"
      [size]="'large'"
      [selectionHighlightStyle]="'spanning'"
      [selectionBoxBackground]="false"
      [showDivider]="true"
      [showSeconds]="true"
      [minuteStep]="10">
    </timeless-time-picker>
  </div> -->
</div>

